body {
    
    font-family: 'Concert One', cursive;
}

#start {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 50px auto;
    border-radius: 25px;
    border: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    box-shadow: 0px 9px 0px #3E8E41;
    transition: all 0.1s;
}

#start:hover {
    transform: translate(0px, -5px);
    box-shadow: 0px 14px 0px #3E8E41;
}

#welcome {
    text-align: center;
    color: #4CAF50;
}

#start,
#opening_pic {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

img {
    height: 25%;
    width: 30%;
}

#choices_ul {
    list-style-type: none;
}

#category {
    color: blue;
    text-align: center; 
  }

#gameover_message {
color: red;
}


